유산균같은 교강사 닥터윌과 함께하는 

## 서울시에서 공개한 코로나19 발생동향 분석
* http://www.seoul.go.kr/coronaV/coronaStatus.do

In [1]:
# pandas, numpy 라이브러리 로드
import pandas as pd
import numpy as np

In [2]:
# file_name 변수에 read_html 로 저장한 파일명을 지정
url = "http://www.seoul.go.kr/coronaV/coronaStatus.do"
url

'http://www.seoul.go.kr/coronaV/coronaStatus.do'

In [3]:
# 판다스의 read_html로 url 불러오기 
pd.read_html?

In [4]:
# 판다스의 read_html로 url 불러오기 
table = pd.read_html(url)
table

[   종로구   중구  용산구  성동구  광진구  동대문구  중랑구  성북구  강북구  도봉구  노원구  은평구 서대문구
 0   44   35   76   74   52    86   89  183   65  104  107  116   56
 1  마포구  양천구  강서구  구로구  금천구  영등포구  동작구  관악구  서초구  강남구  송파구  강동구   기타
 2   84   92  151  108   46    86  102  170  102  129  171   83  210,
     종로구   중구  용산구  성동구  광진구 동대문구
 0    44   35   76   74   52   86
 1   중랑구  성북구  강북구  도봉구  노원구  은평구
 2    89  183   65  104  107  116
 3  서대문구  마포구  양천구  강서구  구로구  금천구
 4    56   84   92  151  108   46
 5  영등포구  동작구  관악구  서초구  강남구  송파구
 6    86  102  170  102  129  171
 7   강동구   기타  NaN  NaN  NaN  NaN
 8    83  210  NaN  NaN  NaN  NaN,
      소계  해외접촉관련  성북구사랑제일교회  용인시우리제일교회  양천구되새김교회  노원구안디옥교회  여의도순복음교회  광화문집회관련  \
 0  2621     378        432         57        11        20         4       26

    고양시반석교회(케네디상가)  강서구요양시설관련  리치웨이관련  이태원클럽관련  구로구콜센터관련  타 시·도확진자접촉자   기타  \
 0              11         26     119      139        98           78  884

    경로확인중
 0    338  ,
                                                    0
 0  < 신종 코로나바이러스 감염증 예방 국민 행동수칙 >○ 기침 등 호흡기 증상이 있을...,
                                                    0
 0  < 신종 코로나바이러스 감염증 예방 의료기관 행동수칙 >○ 호흡기 질환자 진료시 마...,
                                                    0
 0  이 보도자료는 관련 발생 상황에 대한 정보를 신속 투명하게 공개하기 위한 것으로, ...,
         연번     환자    확진일  거주지     여행력    접촉력         조치사항
 0     2621  16421  8.20.  중랑구       -   확인 중          배정중
 1     2620  16393  8.20.   기타       -   확인 중          배정중
 2     2619  16633  8.20.  동작구       -   확인 중          배정중
 3     2618    미부여  8.20.  종로구       -     기타          배정중
 4     2617  16643  8.20.  강북구       -   확인 중          배정중
 ...    ...    ...    ...  ...     ...    ...          ...
 2616     5      9  1.31.  성북구       -  #5 접촉    서울의료원(퇴원)
 2617     4      7  1.30.  마포구  중국 우한시  해외 접촉    서울의료원(퇴원)
 2618     3      6  1.30.  종로구       -  #3 접촉  서울대학교병원(퇴원)
 2619     2      5  1.30.  중랑구  중국 우한시  해외 접촉    서울의료원(퇴원)
 2620     1      2  1.24.  강서구  중국 우한시  해외 접촉  국립중앙의료원(퇴원)

 [2621 rows x 7 columns],
                                                      연번    환자번호  \
 0     2621  <tr>  <td class="tdl" colspan="5">  <p>확...  #16421
 1     2620  <tr>  <td class="tdl" colspan="5">  <p>확...  #16393
 2     2619  <tr>  <td class="tdl" colspan="5">  <p>확...  #16633
 3     2618  <tr>  <td class="tdl" colspan="5">  <p>이...     미부여
 4     2617  <tr>  <td class="tdl" colspan="5">  <p>확...  #16643
 ...                                                 ...     ...
 2616  5  <tr>  <td class="tdl" colspan="5">  <p>이동경로...      #9
 2617  4  <tr>  <td class="tdl" colspan="5">  <p>이동경로...      #7
 2618  3  <tr>  <td class="tdl" colspan="5">  <p>이동경로...      #6
 2619  2  <tr>  <td class="tdl" colspan="5">  <p>이동경로...      #5
 2620  1  <tr>  <td class="tdl" colspan="5">  <p>이동경로...      #2

                감염경로   확진일  거주지         격리시설
 0              확인 중  8/20  중랑구          배정중
 1              확인 중  8/20   기타          배정중
 2              확인 중  8/20  동작구          배정중
 3                기타  8/20  종로구          배정중
 4              확인 중  8/20  강북구          배정중
 ...             ...   ...  ...          ...
 2616          #5 접촉  1/31  성북구    서울의료원(퇴원)
 2617  해외 접촉(중국 우한시)  1/30  마포구    서울의료원(퇴원)
 2618          #3 접촉  1/30  종로구  서울대학교병원(퇴원)
 2619  해외 접촉(중국 우한시)  1/30  중랑구    서울의료원(퇴원)
 2620  해외 접촉(중국 우한시)  1/24  강서구  국립중앙의료원(퇴원)

 [2621 rows x 6 columns]]

In [5]:
# 전체 table 갯수 확인
len(table)

8

In [15]:
# read_html은 사이트 내 html 태그를 불러옴 
table[0]

   종로구   중구  용산구  성동구  광진구  동대문구  중랑구  성북구  강북구  도봉구  노원구  은평구 서대문구
0   44   35   76   74   52    86   89  183   65  104  107  116   56
1  마포구  양천구  강서구  구로구  금천구  영등포구  동작구  관악구  서초구  강남구  송파구  강동구   기타
2   84   92  151  108   46    86  102  170  102  129  171   83  210

In [16]:
# read_html은 사이트 내 html 태그를 불러옴 
table[2]

,소계,해외접촉관련,성북구사랑제일교회,용인시우리제일교회,양천구되새김교회,노원구안디옥교회,여의도순복음교회,광화문집회관련,고양시반석교회(케네디상가),강서구요양시설관련,리치웨이관련,이태원클럽관련,구로구콜센터관련,타 시·도확진자접촉자,기타,경로확인중
0,2621,378,432,57,11,20,4,26,11,26,119,139,98,78,884,338

In [17]:
# read_html은 사이트 내 html 태그를 불러옴 
table[2].T # transpose 전치

                   0
소계              2621
해외접촉관련           378
성북구사랑제일교회        432
용인시우리제일교회         57
양천구되새김교회          11
노원구안디옥교회          20
여의도순복음교회           4
광화문집회관련           26
고양시반석교회(케네디상가)    11
강서구요양시설관련         26
리치웨이관련           119
이태원클럽관련          139
구로구콜센터관련          98
타 시·도확진자접촉자       78
기타               884
경로확인중            338

In [19]:
table[6]

        연번     환자    확진일  거주지     여행력    접촉력         조치사항
0     2621  16421  8.20.  중랑구       -   확인 중          배정중
1     2620  16393  8.20.   기타       -   확인 중          배정중
2     2619  16633  8.20.  동작구       -   확인 중          배정중
3     2618    미부여  8.20.  종로구       -     기타          배정중
4     2617  16643  8.20.  강북구       -   확인 중          배정중
...    ...    ...    ...  ...     ...    ...          ...
2616     5      9  1.31.  성북구       -  #5 접촉    서울의료원(퇴원)
2617     4      7  1.30.  마포구  중국 우한시  해외 접촉    서울의료원(퇴원)
2618     3      6  1.30.  종로구       -  #3 접촉  서울대학교병원(퇴원)
2619     2      5  1.30.  중랑구  중국 우한시  해외 접촉    서울의료원(퇴원)
2620     1      2  1.24.  강서구  중국 우한시  해외 접촉  국립중앙의료원(퇴원)

[2621 rows x 7 columns]

In [20]:
table[6].head()

     연번     환자    확진일  거주지 여행력   접촉력 조치사항
0  2621  16421  8.20.  중랑구   -  확인 중  배정중
1  2620  16393  8.20.   기타   -  확인 중  배정중
2  2619  16633  8.20.  동작구   -  확인 중  배정중
3  2618    미부여  8.20.  종로구   -    기타  배정중
4  2617  16643  8.20.  강북구   -  확인 중  배정중

In [44]:
df = table[6]
df.shape

(2621, 7)

In [45]:
# 미리보기 
df.head()

     연번     환자    확진일  거주지 여행력   접촉력 조치사항
0  2621  16421  8.20.  중랑구   -  확인 중  배정중
1  2620  16393  8.20.   기타   -  확인 중  배정중
2  2619  16633  8.20.  동작구   -  확인 중  배정중
3  2618    미부여  8.20.  종로구   -    기타  배정중
4  2617  16643  8.20.  강북구   -  확인 중  배정중

In [46]:
# 판다스 인덱스로 가져오기 
df.loc[0] # 행 0번의 자료만 뽑기

연번       2621
환자      16421
확진일     8.20.
거주지       중랑구
여행력         -
접촉력      확인 중
조치사항      배정중
Name: 0, dtype: object

In [47]:
# 마지막 확진일을 파일명에 써주기 위해 , 을 _로 변경 
# 확장자와 구분하기 쉽게 _로 변경 
last_day = df.loc[0, "확진일"] 
last_day

'8.20.'

In [48]:
# 마지막 확진일을 파일명에 써주기 위해 , 을 _로 변경 
# 확장자와 구분하기 쉽게 _로 변경 
last_day = df.loc[0, "확진일"]
last_day = last_day.replace(".","_")
last_day
# 파일명 자동화 8.20. >> 8_2_ 변경

'8_20_'

In [49]:
# 파일명 만들기
file_name = f""
file_name

''

In [50]:
# 파일명 만들기
file_name = f"seoul_covil_{last_day}.csv"
file_name

'seoul_covil_8_20_.csv'

In [51]:
# csv 파일로 저장 
df.to_csv(file_name)

In [52]:
pd.read_csv(file_name)
# unnamed: 0 생김

      Unnamed: 0    연번     환자    확진일  거주지     여행력    접촉력         조치사항
0              0  2621  16421  8.20.  중랑구       -   확인 중          배정중
1              1  2620  16393  8.20.   기타       -   확인 중          배정중
2              2  2619  16633  8.20.  동작구       -   확인 중          배정중
3              3  2618    미부여  8.20.  종로구       -     기타          배정중
4              4  2617  16643  8.20.  강북구       -   확인 중          배정중
...          ...   ...    ...    ...  ...     ...    ...          ...
2616        2616     5      9  1.31.  성북구       -  #5 접촉    서울의료원(퇴원)
2617        2617     4      7  1.30.  마포구  중국 우한시  해외 접촉    서울의료원(퇴원)
2618        2618     3      6  1.30.  종로구       -  #3 접촉  서울대학교병원(퇴원)
2619        2619     2      5  1.30.  중랑구  중국 우한시  해외 접촉    서울의료원(퇴원)
2620        2620     1      2  1.24.  강서구  중국 우한시  해외 접촉  국립중앙의료원(퇴원)

[2621 rows x 8 columns]

In [59]:
# csv 파일로 저장 
df.to_csv(file_name, index=False)

In [60]:
# csv 파일로 저장 
df.to_csv(file_name, index=False,encoding="utf8") # cp949

In [62]:
pd.read_csv(file_name, encoding = "utf8")

        연번     환자    확진일  거주지     여행력    접촉력         조치사항
0     2621  16421  8.20.  중랑구       -   확인 중          배정중
1     2620  16393  8.20.   기타       -   확인 중          배정중
2     2619  16633  8.20.  동작구       -   확인 중          배정중
3     2618    미부여  8.20.  종로구       -     기타          배정중
4     2617  16643  8.20.  강북구       -   확인 중          배정중
...    ...    ...    ...  ...     ...    ...          ...
2616     5      9  1.31.  성북구       -  #5 접촉    서울의료원(퇴원)
2617     4      7  1.30.  마포구  중국 우한시  해외 접촉    서울의료원(퇴원)
2618     3      6  1.30.  종로구       -  #3 접촉  서울대학교병원(퇴원)
2619     2      5  1.30.  중랑구  중국 우한시  해외 접촉    서울의료원(퇴원)
2620     1      2  1.24.  강서구  중국 우한시  해외 접촉  국립중앙의료원(퇴원)

[2621 rows x 7 columns]

In [63]:
df = df.sort_values(["연번"])
df.head()

      연번 환자    확진일  거주지     여행력    접촉력         조치사항
2620   1  2  1.24.  강서구  중국 우한시  해외 접촉  국립중앙의료원(퇴원)
2619   2  5  1.30.  중랑구  중국 우한시  해외 접촉    서울의료원(퇴원)
2618   3  6  1.30.  종로구       -  #3 접촉  서울대학교병원(퇴원)
2617   4  7  1.30.  마포구  중국 우한시  해외 접촉    서울의료원(퇴원)
2616   5  9  1.31.  성북구       -  #5 접촉    서울의료원(퇴원)

In [64]:
df = df.sort_values(["연번"], ascending=False)# 역순 ; 최신 데이터부터 출력

In [66]:
df.head()

     연번     환자    확진일  거주지 여행력   접촉력 조치사항
0  2621  16421  8.20.  중랑구   -  확인 중  배정중
1  2620  16393  8.20.   기타   -  확인 중  배정중
2  2619  16633  8.20.  동작구   -  확인 중  배정중
3  2618    미부여  8.20.  종로구   -    기타  배정중
4  2617  16643  8.20.  강북구   -  확인 중  배정중

In [67]:
df.tail()

      연번 환자    확진일  거주지     여행력    접촉력         조치사항
2616   5  9  1.31.  성북구       -  #5 접촉    서울의료원(퇴원)
2617   4  7  1.30.  마포구  중국 우한시  해외 접촉    서울의료원(퇴원)
2618   3  6  1.30.  종로구       -  #3 접촉  서울대학교병원(퇴원)
2619   2  5  1.30.  중랑구  중국 우한시  해외 접촉    서울의료원(퇴원)
2620   1  2  1.24.  강서구  중국 우한시  해외 접촉  국립중앙의료원(퇴원)